@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.card__wrapper{
   max-width: 400px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   .card__image{
      width: 100%;
      border-radius: 30px;
   }
   .card__contant{
      
      .card__title{
         font-size: 35px;
         font-family: "Inter", sans-serif;
      }
      .card__info{
         display: flex;
         gap: 10px;
         .card__subtitle{
            font-size: 22px;
            font-weight: 500;
            font-family: "Inter", sans-serif;
         }
         .card__trailer{
            font-size: 22px;
            font-weight: 500;
            font-family: "Inter", sans-serif;
         }
         .card__premiere{
            font-size: 22px;
            font-weight: 500;
            font-family: "Inter", sans-serif;
         }
      }
   }
}